### What is a function in Python?

In [3]:
"""
function in a block of code we can write it once and use it many times by calling it
"""

'\nfunction in a block of code we can write it once and use it many times by calling it\n'

### Write the correct syntax of a Python function.

In [4]:
"""
def function_name(parameters):
    function body
    code to execute
    return value

"""

'\ndef function_name(parameters):\n    function body\n    code to execute\n    return value\n\n'

### What is the default return value of a function if no return statement is used?

In [5]:
#none

### Define a function named hello() that prints "Hello World".

In [6]:
def hello():
    print("Hello world")

hello()

Hello world

### What is the difference between a parameter and an argument? Write a function with two parameters a and b that returns their sum.

In [7]:
"""parameter - variables are given at time of function's declaration, it defines the input that the function can accept"""
def add(a,b):
    return a+b

"""argument - the actual values passed to the function when it is called, filling the parameters during execution.
"""
result = add(5,6)
print(result)

11

### What are positional arguments? Give an example.

In [8]:
'''Positional arguments are values passed to a function or method based on their order or position in the function call. 
    The first argument provided in the call is assigned to the first parameter in the function's definition, 
    the second argument to the second parameter, and so on '''

def info(name,age):
    print("my name is ",name,"my age is",age)

info("atharv",23)
info("ptatham",25)

my name is  atharv my age is 23
my name is  ptatham my age is 25

### What are keyword arguments? Give an example.

In [9]:
'''Keyword arguments are values passed to a function that are identified by their parameter name, making the function call
more explicit and readable. This allows you to pass arguments in any order because the function uses the parameter name to assign
the value, not its position   '''

def info(name,city ,age):
    print("name:",name)
    print("city:",city)
    print("age:",age)

info(city = "kop",name = "atharv",age = 35)

name: atharv
city: kop
age: 35

### What are default parameters? Write a function with a default parameter country="India" that prints "I live in <country>".

In [10]:
''' default parameters :- When there is two/more parameters in a function and we set a default value to one/more parameters because
we don't know value of that/those parameter then the function uses the default value which is assigned in the function '''

def info(country = "ind"):
    print("i live in ",country)

info("us")
info()

i live in  us
i live in  ind

### Write a function square(n) that returns the square of a number.

In [11]:
def fn(n):
    return n**2

n = int(input("enter a number"))
sq = fn(n)
print(sq)

100

### What does *args mean in Python? Write a function that accepts any number of values using *args and prints them.

In [12]:
''' *args is a special syntax used in function definitions to allow a function to accept a variable number of positional arguments. 
The asterisk (*) before the parameter name (conventionally args) indicates that all positional arguments passed to the function will
be collected into a tuple. This tuple can then be iterated over or accessed by index within the function body.
-- input is tuple type '''

def val(*args):
    for val in args:
        print(val)

val(1,2,3,4)
val()

1
2
3
4

### What does **kwargs mean? Write a function that prints all keyword arguments using **kwargs.

In [13]:
''' **kwargs is  used in function definitions to allow a function to accept an arbitrary number of keyword arguments.
The double asterisk (**) before a parameter name indicates that this parameter will collect all keyword arguments passed to the function into a 
dictionary. The keys of this dictionary will be the names of the keyword arguments, and the values will be their corresponding values.  
-- input is dictonary type '''

def val(**kwargs):
    for key,value in kwargs.items():
        print(f"{key} : {value}")


val(name="Alice", age=30, city="New York")
val(product="Laptop", price=1200.50)

name : Alice
age : 30
city : New York
product : Laptop
price : 1200.5

### Write a function that returns two values: the sum and product of two numbers. Can a Python function return multiple values? How?

In [14]:
def val(a=0,b=0):
    
    return a+b, a*b

val(5,10)

(15, 50)

### Write a function even_or_odd(n) that returns "Even" or "Odd".

In [15]:
def val(x):
    if x%2==0:
        print("even no :",x)

    else:
        print("odd one:",x)

x= int(input())
val(x)

even no : 10

### Write an adapter function that takes a list of operations and executes add, sub, mul, div based on input. 

### Example: [ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]

In [16]:


    
    
def calculator(**kwargs):
    if kwargs["op"]=="add":
        addition(kwargs["a"],kwargs["b"])
    elif kwargs["op"]=="sub":
        substraction(kwargs["a"],kwargs["b"])
    elif kwargs["op"]=="mul":
        multipy(kwargs["a"],kwargs["b"])
    elif kwargs["op"]=="div":
        divide(kwargs["a"],kwargs["b"])
    else:
        print("Provided operation is not exist")
        
        
def addition(x,y):
    print("sum=",x+y)

def substraction(x,y):
    print("sub=",x-y)

def multipy(x,y):
    print("mul=",x*y)

def divide(x,y):
    print("div=",x/y)
    

dic=[ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5},{"op": "sub", "a": 4, "b": 5} ,{"op": "div", "a": 4, "b": 5},{"op":"rem"}]
for i in dic:
    calculator(**i)

sum= 30
mul= 20
sub= -1
div= 0.8
Provided operation is not exist

### Write a function process_students(data) that prints total marks and grade for each student.
- Example: [ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 
- Expected Output: Name: A | Total: 240 | Grade: A Name: B | Total: 200 | Grade: B

In [17]:
def std_info(**kwargs):
    s=sum(kwargs["marks"])
    if 0<=s<=300:
        if s>=240:
            grade="A"
        elif s>=200:
            grade="B"
        elif s>=160:
            grade="C"
        elif s>=120:
            grade="D"
        else :
            grade="F"
        print("Name:",kwargs["name"],"| Total:",s,"| Grade",grade,"\n") 
    else:
        print(kwargs["name"],"- Total Marks is out of range")
        
std_rec= [ {"name":"Alice", "marks":[80,90,70]}, {"name":"Bob", "marks":[60,75,65]},{"name":"John", "marks":[60,50,65]},{"name":"Leo", "marks":[0,-1,0]}] 
for i in std_rec:
    std_info(**i)

Name: Alice | Total: 240 | Grade A

Name: Bob | Total: 200 | Grade B

Name: John | Total: 175 | Grade C

Leo - Total Marks is out of range

### Create a function apply_discounts(products) that updates price after discount. 
- Example: [ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ] 
- Expected Output: Laptop final: 45000 Phone final: 19000

In [19]:
def aply_dis(**products):
    discounted_price = products["price"] - (products["price"]*products["discount"]/100)
    print(index,products["name"],"final:",discounted_price)

product=[ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5},{"name":"TV", "price":30000, "discount":11} ] 


index = 1
for i in product:
    aply_dis(**i)
    index +=1

1 Laptop final: 45000.0
2 Phone final: 19000.0
3 TV final: 26700.0

### Write a function generate_report(employees) that calculates bonus based on salary slabs. 
- Slabs: 
- salary > 50,000 → bonus = 15%, 
- salary 30,000–50,000 → bonus = 10%, 
- salary < 30,000 → bonus = 5%. 

#### Example employees = 
- [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [20]:
emp_rec=[ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
         {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
         {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000},{"id": 106, "name": "Rahul", "age": 35, "department": "Admin", "salary": 29000}]

def gen_report(**emp):
    if emp["salary"] > 50000:
        bonus = emp["salary"]* 15/100
    elif emp["salary"]>=30000:
        bonus=emp["salary"]*10/100
    elif emp["salary"]<30000:
        bonus=emp["salary"]*5/100
    else:
        bonus=0
    print("Id:",emp["id"],"bonus:",bonus)

for i in emp_rec:
    gen_report(**i)

Id: 101 bonus: 8250.0
Id: 102 bonus: 4000.0
Id: 103 bonus: 9750.0
Id: 104 bonus: 9000.0
Id: 105 bonus: 3500.0
Id: 106 bonus: 1450.0

### Write a function get_employee_names(emp_list) that returns a list of all employee names.

In [21]:
emp_names = []
def get_emp_names(**emp_list):
    emp_names.append(emp_list["name"])

for i in emp_rec:
    get_emp_names(**i)

print(emp_names)

['Amit', 'Neha', 'Raj', 'Simran', 'Vijay', 'Rahul']

### Write a function filter_by_department(emp_list, dept) that returns employees belonging to a specific department.

In [22]:
dep_emp_rec = {}
def filter_by_dept(**emp_list):

    if emp_list["department"] in dep_emp_rec:
        dep_emp_rec[emp_list["department"]] += emp_list["name"]

    else:
        dep_emp_rec[emp_list["department"]] = emp_list["name"]

for i in emp_rec:
    filter_by_dept(**i)

print(dep_emp_rec)

{'IT': 'AmitSimran', 'HR': 'Neha', 'Finance': 'Raj', 'Admin': 'VijayRahul'}

### Write a function highest_salary(emp_list) that returns the employee with the highest salary.

In [25]:
def highest_salary(emp_list):
    high_sal = 0
    high_emp = ""

    for i in emp_list:
        if i["salary"] > high_sal :

            high_sal = i["salary"]
            high_emp = i

    print("Name:", high_emp["name"]," salary:",high_sal)

highest_salary(emp_rec)

Name: Raj  salary: 65000

### Write a function average_salary(emp_list) that returns the average salary.

In [29]:
def avg_sal(emp_list):

    avg = 0
    sum = 0
    count = 0
    for i in emp_list:
        sum += i["salary"]
        count +=1
    avg = sum /count
            

    print("avg sal :", round(avg))

avg_sal(emp_rec)

avg sal : 47333

### Write a function salary_hike(emp_list, percent) that increases each salary by given percent.

In [30]:

def salary_hike(emp_list,percent=5):
    for info in emp_list:
        info["salary"]+=(info["salary"]*percent/100)
    print(emp_rec)
    

salary_hike(emp_rec,20)

[{'id': 101, 'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 66000.0}, {'id': 102, 'name': 'Neha', 'age': 24, 'department': 'HR', 'salary': 48000.0}, {'id': 103, 'name': 'Raj', 'age': 31, 'department': 'Finance', 'salary': 78000.0}, {'id': 104, 'name': 'Simran', 'age': 29, 'department': 'IT', 'salary': 72000.0}, {'id': 105, 'name': 'Vijay', 'age': 35, 'department': 'Admin', 'salary': 42000.0}, {'id': 106, 'name': 'Rahul', 'age': 35, 'department': 'Admin', 'salary': 34800.0}]

### Write out_of_stock(items) that returns all products with stock < 20.

In [33]:
items = [
    {"name": "Laptop", "price": 60000, "stock": 15},
    {"name": "Mouse", "price": 500, "stock": 150},
    {"name": "Keyboard", "price": 1500, "stock": 8},
    {"name": "Monitor", "price": 12000, "stock": 25},
    {"name": "USB Cable", "price": 150, "stock": 50},
    {"name": "Headphones", "price": 2000, "stock": 18}
]

def out_of_stock(items):
    out_list = []
    for i in items:
        if i["stock"] <20:
            out_list.append(i["name"])

    print("list contain out of stock products:", out_list)

out_of_stock(items)

list contain out of stock products: ['Laptop', 'Keyboard', 'Headphones']

### Write total_inventory_value(items) → sum(price * stock).

In [34]:
def total_inventory_value(items):
    total_inv_val=0
    for i in items:
        total_inv_val+=(i["price"]*i["stock"])
    print("Total inventory value :",total_inv_val)
    
total_inventory_value(items)

Total inventory value : 1330500

### Write search_product(items, name) → return matching product(s).

In [35]:
def Search_product(items,name):
    fnd_items=[]
    for i in items:
        for j in name:
         if i["name"].lower()== j.lower() :
            fnd_items.append(j)
    print("Founded products:",fnd_items)
    
    
items_want_search=["Laptop","Mobail","monitor"]    

Search_product(items,items_want_search)

Founded products: ['Laptop', 'monitor']