### 1. Print numbers from 1 to 10 using a for loop

In [3]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [4]:
for i in range(2,20+1,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [7]:
str = "python"
for ch in str:
    print(ch)

p
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [8]:
for i in range(1,5+1):
    print(i*i)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [18]:
lst = [5,4,3,2,1]
for i in range(len(lst)):
    print(lst[i])

5
4
3
2
1

In [15]:
lst = [5,4,3,2,1]
for i in lst:
    print(i)

5
4
3
2
1

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [21]:
sum = 0
for i in range(1,50+1):
    sum +=i
print(sum)

1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [22]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [24]:
for i in range(1,10+1):
    print(7*i)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [27]:
str = "education"
count = 0
for i in str:
    if i in "aeiou":

        print(i)
        count +=1
print(count)

e
u
a
i
o
5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [28]:
for i in range(1,31,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [ ]:
str = str(input("enter the string"))
print(str)

count = 0
for i in str:
    if i.isupper() :
        count+=1
        
print(count)

Hello World
2

### 12. Create a new list that contains only the positive numbers from another list

In [31]:
lst = [-1,-2,-3,-4,0,1,2,3,4]
lst2 = []
for i in lst:
    if i > 0:
        lst2.append(i)
print(lst)
print(lst2)

[-1, -2, -3, -4, 0, 1, 2, 3, 4]
[1, 2, 3, 4]

### 13. Print numbers from 1 to 10 using a while loop

In [34]:
i = 1
while i<=10:
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [35]:
i = 1
while i<=10:
    print(i*5)
    i+=1

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [1]:
i = 10
while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [4]:
num = int(input("enter the num"))
while num !=0:
    print("you entered :" ,num)
    num = int(input("enter the num"))

print("you entered 0")

you entered : 1
you entered : 2
you entered : 3
you entered : 4
you entered : 5
you entered 0

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [5]:
i = 1
sum = 0
while i<=10:
    sum +=i
    i+=1
print(sum)

55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [7]:
fruits = {
    "apple": 120,
    "banana": 40,
    "mango": 150,
    "orange": 80,
    "grapes": 90
}
for key in fruits:
    print(key)

apple
banana
mango
orange
grapes

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [8]:
fruits = {
    "apple": 120,
    "banana": 40,
    "mango": 150,
    "orange": 80,
    "grapes": 90
}
for val in fruits.values():
    print(val)

120
40
150
80
90

### 20. Print both keys and values of a dictionary using a for loop

In [14]:
fruits = {
    "apple": 120,
    "banana": 40,
    "mango": 150,
    "orange": 80,
    "grapes": 90
}
for key,val in fruits.items():
    print(f"key :{key} ,val :{val}")

key :apple ,val :120
key :banana ,val :40
key :mango ,val :150
key :orange ,val :80
key :grapes ,val :90

### 21. Count how many keys are in a dictionary using a for loop

In [15]:
fruits = {
    "apple": 120,
    "banana": 40,
    "mango": 150,
    "orange": 80,
    "grapes": 90
}
count = 0
for key in fruits:
    count+=1
print(count)

5

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [17]:
fruits = {
    "apple": 120,
    "banana": 40,
    "mango": 150,
    "orange": 80,
    "grapes": 90
}
for key in fruits:
    if key.startswith("a"):
        print(key)

apple

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [19]:
Students = {
    "Atharv": 120,
    "Prathmesh": 40,
    "Omkar": 150,
    "Pratik": 80,
    "Om": 90
}
for key,val in Students.items():
    if val > 80:
        print(val)

120
150
90

### 24. Given a dictionary, print the sum of all the values using a for loop

In [22]:
fruits = {
    "apple": 120,
    "banana": 40,
    "mango": 150,
    "orange": 80,
    "grapes": 90
}
sum = 0
for val in fruits.values():
    sum +=val

print(sum)

480

### 25. Given a dictionary, find the key with the highest value using a for loop

In [30]:
fruits = {
    "apple": 120,
    "banana": 40,
    "mango": 150,
    "orange": 80,
    "grapes": 90
}
for key,val in fruits.items():
    if val == max(fruits.values()):
        print(key,val)

mango 150

### 26. Convert all dictionary keys into a list using a for loop

In [33]:
fruits = {
    "apple": 120,
    "banana": 40,
    "mango": 150,
    "orange": 80,
    "grapes": 90
}
lst = []
for key in fruits:
    lst.append(key)
print(lst)

['apple', 'banana', 'mango', 'orange', 'grapes']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [34]:
words = {
    "apple": len("apple"),
    "banana": len("banana"),
    "cat": len("cat"),
    "elephant": len("elephant"),
    "mango": len("mango")
}

for word, length in words.items():
    print(word, "=", length)

apple = 5
banana = 6
cat = 3
elephant = 8
mango = 5

### 28. Given a list of numbers, print only numbers greater than 10

In [42]:
lst = [1,2,3,4,5,10,11,22,33]
for i in range(len(lst)):
    if lst[i]>10:
        print(i, ":",lst[i])

6 : 11
7 : 22
8 : 33

### 29. Count how many elements in a list are integers using a for loop

In [46]:
lst = ["atharv","omkar",1,2,3]
for i in lst:
    if isinstance(i,int):
        print(i)

1
2
3

### 30. Print the sum of all even numbers in a list using a for loop

In [48]:
lst = [1,2,3,4,5,6,7,8,9]
sum = 0
for i in lst:
    if i%2==0:
        sum +=i
        
print(sum)

20

### 31. Print the cube of each number in a list of 5 numbers

In [49]:
lst = [1,2,3,4,5]
for i in lst:
    print(i,"cube is:",i**3)

1 cube is: 1
2 cube is: 8
3 cube is: 27
4 cube is: 64
5 cube is: 125

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [51]:
str = "Python id fun"
for ch in str.split():
    print(ch)

Python
id
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [53]:
for i in range(1,6):
    print(i*3)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [54]:
lst = ["atharv","abhi","omkar","pratham"]
for i in lst:
    if i.startswith("a"):
        print(i)

atharv
abhi

### 35. Find the largest number in a list using a for loop

In [58]:
lst = [1,2,3,4,5,6,7,8,9]
print(max(lst))

9

In [55]:
lst = [1,2,3,4,5,6,7,8,9]
lrg_num = 0
for i in lst:
    if i>lrg_num:
        lrg_num = i

print(lrg_num)

9

### 36. Print the index and value of each element in a list

In [61]:
lst = ["Atharv","Om","prathm","Pratik"]
for i in lst:
    print(lst.index(i), ":", i)

0 : Atharv
1 : Om
2 : prathm
3 : Pratik

### 37. Create a dictionary with 5 students and their marks

In [63]:
Students = {
    "Atharv": 120,
    "Prathmesh": 40,
    "Omkar": 150,
    "Pratik": 80,
    "Om": 90
}
for name, marks in Students.items():
    print(name, "=", marks)

Atharv = 120
Prathmesh = 40
Omkar = 150
Pratik = 80
Om = 90

### 38. Use a for loop to print all student names

In [64]:
names = ["Atharv","Pranit","Omkar","Pratham"]
for i in names:
    print(i)

Atharv
Pranit
Omkar
Pratham

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [71]:
fruits = {
    "apple": 120,
    "banana": 40,
    "mango": 150,
    "orange": 80,
    "grapes": 90
}
for key,val in fruits.items():
    print(key," : ",val)

apple  :  120
banana  :  40
mango  :  150
orange  :  80
grapes  :  90

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [83]:
fruits = {
    "apple": 120,
    "banana": 40,
    "mango": 150,
    "orange": 80,
    "grapes": 90
}
for key,val in fruits.items():
    val1 = val + val*0.10
    print(key,val1)

apple 132.0
banana 44.0
mango 165.0
orange 88.0
grapes 99.0

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [88]:
items = {
    "pen": 10,
    "pencil": 5,
    "notebook": 40,
    "eraser": 3,
    "sharpener": 7,
    "scale": 15,
    "bag": 500,
    "bottle": 120,
    "lunch_box": 250,
    "colors": 80
}
for key,val in items.items():
    if val <50 :
        pass
    else:
        print(key,val)

bag 500
bottle 120
lunch_box 250
colors 80

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [89]:
subjects = {
    "math": 85,
    "science": 90,
    "english": 78,
    "history": 88,
    "geography": 92
}
subjects["computer"] = 95


for sub, marks in subjects.items():
    print(sub, marks)

math 85
science 90
english 78
history 88
geography 92
computer 95

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [90]:
ages = {
    "Atharv": 20,
    "Omkar": 22,
    "Sneha": 19,
    "Rahul": 21,
    "Priya": 23
}

for name, age in ages.items():
    ages[name] = age + 1    # add 1 year

print(ages)

{'Atharv': 21, 'Omkar': 23, 'Sneha': 20, 'Rahul': 22, 'Priya': 24}

### 44. Print numbers from 0 to 9 using range()

In [91]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [92]:
for i in range(5,15+1):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [93]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [94]:
lsr = [1,2,3,4,5,6,7,8,9,0]
print(len(lsr))

10

### 48. Print the length of a given string using len()

In [95]:
str = "my name is Atharv"
len(str)

17

### 49. Use range() and len() to iterate over a list by index and print each element

In [97]:
lst = [9,8,7,6,5,4,3,2,1]
for i in range(len(lst)):
    print(i,":",lst[i])

0 : 9
1 : 8
2 : 7
3 : 6
4 : 5
5 : 4
6 : 3
7 : 2
8 : 1

### 50. Print the sum of numbers from 1 to 100 using range()

In [98]:
sum = 0
for i in range(1,100+1):
    sum +=i

print(sum)

5050