# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [22]:
lst=[[1,2,3], [4,5], [6,45,8,9]]

for i in lst:
    for j in i:
        print(j)

1
2
3
4
5
6
45
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [2]:
# Write your answer here
lst=[[10,20], [30], [5, 7, 8]]
sum = 0
for i in lst:
    for j in i:
        sum+=j

print(sum)

80

## **3. Count how many even numbers are present in a nested list.**

In [3]:
# Write your answer here
lst=[[10,20], [30], [5, 7, 8]]
count = 0
for i in lst:
    for j in i:
        if j%2==0:
            count+=1

print(count)

4

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [4]:
# Write your answer here
lst=[['hello', 'world'], ['python']]
for i in lst:
    for j in i:
        print(j.upper())

HELLO
WORLD
PYTHON

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [8]:
# Write your answer here
lst = [[80, 90, 85], [75, 70, 65], [88, 92, 79]]
sum = 0
for i in lst:
    for j in i:
        sum+=j
    print(sum)

255
465
724

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [14]:
lst = [[80, 90, 85], [75, 70, 65], [88, 92, 79]]
lst1 = []
for i in lst:
    for j in i:
        if j>50:
            lst1.append(j)
print(lst1)

[80, 90, 85, 75, 70, 65, 88, 92, 79]

## **7. Find the largest number inside a nested list.**

In [15]:
# Write your answer here
lst = [[80, 90, 85], [75, 70, 65], [88, 92, 79]]
lrg_num = 0
for i in lst:
    for j in i:
        if j >lrg_num:
            lrg_num = j

print(lrg_num)

92

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [18]:
lst=[[1,2], [3,4], [5]]
lst1 = []
for sublst in lst:
    for value in sublst:
        lst1.append(value)

print(lst1)

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [24]:
# Write your answer here
lst = [[80, -90, 85], [-75, 70, 65], [88, 92, -79]]
for i in range (len(lst)):
    for j in range(len(lst[i])):
        if lst[i][j]<0:
            lst[i][j] = 0

print(lst)

[[80, 0, 85], [0, 70, 65], [88, 92, 0]]

## **10. Count how many inner lists exist inside a nested list.**

In [26]:
# Write your answer here
lst = [[80, -90, 85], [-75, 70, 65], [88, 92, -79]]
count = 0
for i in lst:
    count +=1

print(count)

3

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [28]:
# Write your answer here
Students={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
for student_name,student_info in Students.items():
    print(student_name)
    for key,val in student_info.items():
        print(key,":",val)

A
age : 15
grade : 10
B
age : 16
grade : 11

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [29]:
# Write your answer here
Students={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
for student_name,student_info in Students.items():
    print(student_name)
    for key,val in student_info.items():
        val = val+5
        print(key,val)

A
age 20
grade 15
B
age 21
grade 16

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [37]:
Students={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
for student_name,student_info in Students.items():
    for key,val in student_info.items():
        # print(key)
        print(student_info.keys())

dict_keys(['age', 'grade'])
dict_keys(['age', 'grade'])
dict_keys(['age', 'grade'])
dict_keys(['age', 'grade'])

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [48]:
# Write your answer here
Students = {
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
count =0
for student_name,student_info in Students.items():
    
    for key,val in student_info.items():
        
        if key =="math" and val >80:
            count+=1
            print(student_name)   
            print(key,val)

print(count)

A
math 85
1

## **15. Create a new dictionary of students whose age is above 15.**

In [65]:
# Write your answer here
Students={
    'A': {'age': 15, 'adult': "no"},
    'B': {'age': 16, 'adult': "yes"},
    'C': {'age': 16, 'adult': "yes"},
    'D': {'age': 16, 'adult': "yes"},
}
Students1 = {}
for student_name,student_info in Students.items():
    for key,val in student_info.items():
        if student_info['age'] > 15:
            Students1[student_name] = student_info
            

print(Students1)

{'B': {'age': 16, 'adult': 'yes'}, 'C': {'age': 16, 'adult': 'yes'}, 'D': {'age': 16, 'adult': 'yes'}}

## **16. Find which student scored highest in science.**

In [66]:
# Write your answer here
Students = {
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
dict = {}
lrg_num = 0

for student_name,student_info in Students.items():
    
    for key,val in student_info.items():
        if val > lrg_num:
            lrg_num = val

            dict[student_name] = student_info

print(dict)

{'A': {'math': 85, 'science': 90}}

## **17. Print employees who belong to the HR department from this dictionary.**

In [70]:
# Write your answer here
employees = {
    'E1': {'name': 'John', 'dept': 'HR'},
    'E2': {'name': 'Sara', 'dept': 'IT'},
    'E3': {'name': 'Mike', 'dept': 'HR'},
    'E4': {'name': 'Rita', 'dept': 'Finance'}
}

for emp_id,emp_info in employees.items():
    # for key,val in emp_info.ite
    if emp_info['dept'] == 'HR':
        print(emp_id,emp_info)

E1 {'name': 'John', 'dept': 'HR'}
E3 {'name': 'Mike', 'dept': 'HR'}

## **18. Delete all entries where the status is 'inactive'.**

In [ ]:
# Write your answer here
employees = {
    'E1': {'name': 'John', 'status': 'active'},
    'E2': {'name': 'Sara', 'status': 'inactive'},
    'E3': {'name': 'Mike', 'status': 'active'},
    'E4': {'name': 'Rita', 'status': 'inactive'}
}
# employees = {emp_id: info for emp_id, info in employees.items() if info['status'] != 'inactive'}
for emp_id,emp_info in list(employees.items()):
    if emp_info['status'] == 'inactive':
        del employees[emp_id]

print(employees)

{'E1': {'name': 'John', 'status': 'active'}, 'E3': {'name': 'Mike', 'status': 'active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [77]:
# Write your answer here
stock = {
    'item1': {'quantity': 10, 'price': 50},
    'item2': {'quantity': 5, 'price': 30},
    'item3': {'quantity': 8, 'price': 20}
}

total_stock = 0
for key,val in stock.items():
    total_stock+= val['quantity']

print(total_stock)

23

## **20. Convert all inner dictionary keys to uppercase.**

In [90]:
employees = {
    'E1': {'name': 'John', 'status': 'active'},
    'E2': {'name': 'Sara', 'status': 'inactive'},
    'E3': {'name': 'Mike', 'status': 'active'},
    'E4': {'name': 'Rita', 'status': 'inactive'}
}

for emp_id,emp_info in employees.items():
    new_info = {}
    for key,val in emp_info.items():
        new_info[key.upper()]  = val
    employees[emp_id] = new_info

print(employees)

{'E1': {'NAME': 'John', 'STATUS': 'active'}, 'E2': {'NAME': 'Sara', 'STATUS': 'inactive'}, 'E3': {'NAME': 'Mike', 'STATUS': 'active'}, 'E4': {'NAME': 'Rita', 'STATUS': 'inactive'}}