### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [7]:
dict = {"name":"Atharv" ,"age":23, "city":"kop"}
dict

{'name': 'Atharv', 'age': 23, 'city': 'kop'}

### 2. Create a dictionary and print the value of a specific key.

In [9]:
dict = {"name":"Atharv" ,"age":23, "city":"kop"}
dict["name"]

'Atharv'

### 3. Create a list of 5 numbers and print the second element.

In [10]:
lst = [1,2,3,4,5]
lst.index(2)

1

### 4. Add an element "banana" to an existing list.

In [11]:
lst = ["apple","orange"]
lst.append("banana")
lst

['apple', 'orange', 'banana']

### 5. Insert "apple" at index 2 in a list.

In [14]:
lst = ["banana","orange","grabes","watermelon"]
lst.insert(2,"apple")
lst

['banana', 'orange', 'apple', 'grabes', 'watermelon']

### 6. Remove the element 10 from a list.

In [16]:
lst = [1,2,3,4,5,6,7,8,9,0,11,12,13]
lst.pop(10)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 12, 13]

### 7. Create a tuple with 4 elements and print the last one.

In [17]:
tup = (1,2,3,4,5)
print(tup[-1])

5

### 8. Convert a tuple into a list.

In [21]:
tup = (1,2,3,4,5)
lst2 = list(tup)
lst2

[1, 2, 3, 4, 5]

### 9. Find the length of a given tuple.

In [22]:
tup = (1,2,3,4,5)
len(tup)

5

### 10. Store 5 student names in a list and print them using a loop.

In [23]:
lst = ["Atharv","omkar","prathmesh","adarsh","dadda"]
for i in lst:
    print(i)

Atharv
omkar
prathmesh
adarsh
dadda

### 11. Create two lists and concatenate them.

In [25]:
lst = [1,2,3,4,5]
lst2 = [6,7,8,9,0]
lst.extend(lst2)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

### 12. Reverse a list without using reverse().

In [27]:
lst = [1,2,3,45,6,7,8]
lst.reverse()
lst

[8, 7, 6, 45, 3, 2, 1]

### 13. Sort a list in descending order.

In [31]:
lst = [1,2,3,4,5,6]
lst.sort(reverse=True)
lst

[6, 5, 4, 3, 2, 1]

### 14. Create a set with 5 numbers and add a new number.

In [32]:
st = {1,2,3,4,5}
st.add(6)
st

{1, 2, 3, 4, 5, 6}

### 15. Remove an element from a set using discard().

In [33]:
st = {1,2,3,45}
st.discard(2)
st

{1, 3, 45}

### 16. Find the union of two sets.

In [34]:
st1 = {1,2,3,4,5}
st2 = {6,7,8,9,0}
st1.union(st2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

### 17. Find the intersection of two sets.

In [37]:
st1 = {1,2,3,4,5}
st2 = {5,7,8,9,0}
st1.intersection(st2)

{5}

### 18. Check if a value exists in a set.

In [39]:
st = {1,2,3,4,5}

### 19. Create a set and clear all elements.

In [41]:
st = {1,2,3,4,5}
st.clear()
st

set()

### 20. Convert a list with duplicate values into a set.

In [44]:
lst = [1,2,3,4,5]
st = set(lst)
print(st)

{1, 2, 3, 4, 5}

### 21. Create a dictionary and update the value of a key.

In [47]:
dict = {"name":"Atharv","age":23,"city":"kop"}
dict["age"]= 24
dict

{'name': 'Atharv', 'age': 24, 'city': 'kop'}

### 22. Delete a key-value pair from a dictionary.

In [50]:
dict = {"name":"Atharv","age":23,"city":"kop"}
del dict["name"]
dict

{'age': 23, 'city': 'kop'}

### 23. Print all keys of a dictionary.

In [51]:
dict = {"name":"Atharv","age":23,"city":"kop"}
dict.keys()

dict_keys(['name', 'age', 'city'])

### 24. Print all values of a dictionary.

In [52]:
dict = {"name":"Atharv","age":23,"city":"kop"}
dict.values()

dict_values(['Atharv', 23, 'kop'])

### 25. Loop through a dictionary and print key and value.

In [61]:
dict = {"name":"Atharv","age":23,"city":"kop"}
for key,value in dict.items():
    print(key, ":",value)

name : Atharv
age : 23
city : kop

### 26. Create a list of numbers and print only even numbers.

In [63]:
lst = [1,2,3,4,5]
for i in lst:
    if (i%2==0):
        print(i)

2
4

### 27. Create a tuple and unpack it into 3 variables.

In [64]:
tup = (1,2,3,4,5,6,7)   
a,*b,c = tup
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6]
7

### 28. Check if a number is greater than 10 using a comparison operator.

In [65]:
11 > 10

True

### 29. Use the in operator to check if "python" exists in a list.

In [66]:
lst = ["java","python","c++"]
if "python" in lst:
    print("True")

True

### 30. Use the and operator in a condition.

In [1]:
age = 20
city = "Mumbai"

if age > 18 and city == "Mumbai":
    print("Eligible")
else:
    print("Not eligible")

Eligible

### 31. Use the % operator to check if a number is divisible by 5.

In [3]:
a = 20
if a%5 == 0 :
    print("yes")

yes

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [4]:
result = 2 ** 5
print(result)

32

### 33. Create two numbers and compare them using >=.

In [6]:
a = 10
b = 15
b>=a

True

### 34. Create a list and remove the last element using pop().

In [7]:
lst = [1,2,3,4,5]
lst.pop()
lst

[1, 2, 3, 4]

### 35. Create a list and print its first and last elements.

In [9]:
lst = [1,2,3,4,5]
print(lst[0])
print(lst[-1])

1
5

### 36. Count how many times "apple" appears in a list.

In [10]:
lst = ["apple","banana","apple","banana"]
lst.count("apple")

2

### 37. Create a tuple and check if a value exists using in.

In [ ]:
tup = (1,2,3,4,5,6,7,7)

tup.count(8)

0

### 38. Convert a dictionaryâ€™s keys into a list.

In [16]:
dict = {"name":"Atharv","age":23,"city":"kop"}
lst  = list[dict.keys()]
lst

list[dict_keys(['name', 'age', 'city'])]

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [17]:
student = {
    "name":"Atharv",
    "marks":{
        "maths":55,
        "sci":60,
    },
    "subjects":["maths","sci",]
    
}
print(student)

{'name': 'Atharv', 'marks': {'maths': 55, 'sci': 60}, 'subjects': ['maths', 'sci']}

### 40. Merge two dictionaries into one.

In [21]:
dict1 = {"name":"Atharv","age":23,"city":"kop"}
dict2 = {"name":"Sourabh","age":25,"city":"pune"}

dict = {}

for key in dict1:
    dict[key] = [dict1[key],dict2[key]]

print(dict)

{'name': ['Atharv', 'Sourabh'], 'age': [23, 25], 'city': ['kop', 'pune']}

### 41. Create a set and print the number of elements.

In [24]:
st = {1,2,3,4,4,5,6,7,7,8,8}
print(len(st))

8

### 42. Create a dictionary and print all items using items().

In [26]:
dict1 = {"name":"Atharv","age":23,"city":"kop"}
dict1.items()

dict_items([('name', 'Atharv'), ('age', 23), ('city', 'kop')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [30]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    print(i*i)

1
4
9
16
25
36
49
64
81
100

### 44. Multiply two numbers and print the result using *.

In [31]:
a= 10
b= 11
a*b

110

### 45. Divide two numbers and print the results using / and //.

In [35]:
a = 100
b = 20
a//b
a/b

5.0

### 46. Create a list and replace the element at index 1.

In [39]:
lst = [1,2,3,4,5]
lst[0]=20
lst

[20, 2, 3, 4, 5]

### 47. Create a tuple from user input (3 values).

In [42]:
data = input("enter the values :")
tup = tuple(data.split())
print(tup)

('1,2,3,4,5',)

### 48. Create a set from a string and print all unique characters.

In [44]:
st ={"apple", "banana", "cat"}
unique_char = set()
for i in st:
    unique_char.update(i)

print(unique_char)

{'c', 'e', 'l', 'b', 't', 'n', 'a', 'p'}

### 49. Use the is operator to compare two variables.

In [45]:
a= 10
b= 10
print(a is b)

True

### 50. Create a dictionary and check if a key exists using in.

In [47]:
dict = {"name":"Atharv","age":23,"city":"kop"}
"name" in dict

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [48]:
num = 50
if num>=10 and num <=50:
    print("yes")
else:
    ("no")

yes

### 52. Check if a number is less than 5 or greater than 20 using or.

In [2]:
num = 25
if num<5 or num >20:
    print("yes")
else:
    ("no")

yes

### 53. Use not to check if a list is not empty.

In [3]:
lst = [1,2,3]
if not (lst == []):
    print("List is not empty")
else:
    print("List is empty")

List is not empty

### 54. Write code to check if a character is a vowel using or.

In [4]:
ch = 'a'

if ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u':
    print("Vowel")
else:
    print("Not a vowel")

Vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [6]:
d = {"name": "Atharv", "age": 20}

if "name" in d and "age" in d:
    print("Both keys are present")
else:
    print("Keys missing")

Both keys are present

### 56. Verify if a set contains either 10 or 20.

In [7]:
st = {1,2,3,10,25}
if 10 in st or 20 in st :
    print("yes ")
else:
    print("no")

yes

### 57. Use not to check if a number is not equal to 100.

In [8]:
num = 50

if not num == 100:
    print("Number is not equal to 100")
else:
    print("Number is 100")

Number is not equal to 100

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [12]:
marks = int(input("enter the marks"))
attendance = int(input("enter the attendance"))

if marks >35 and attendance >75 :
    print("yes you are pass ")

else:
    ("you are fail")

### 59. Use logical operators to check if a number is positive and even.

In [13]:
num = 8

if num > 0 and num % 2 == 0:
    print("Number is positive and even")
else:
    print("Condition not satisfied")

Number is positive and even

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [14]:
t = (1, 2, 0, 4)

if len(t) > 3 or 0 in t:
    print("Condition satisfied")
else:
    print("Condition not satisfied")

Condition satisfied